{% extends 'admin/base.html.twig' %}

{% block title %}Modifier administrateur - Duo Import MDG{% endblock %}

{% block breadcrumb %}
    <li><a class="dropdown-item" href="{{ path('app_admin_admin_users_index') }}">Administrateurs</a></li>
    <li><span class="dropdown-item disabled" aria-current="page">Modifier</span></li>
{% endblock %}

{% block body %}
    <h1 class="mb-4">Modifier {{ admin.fullName }}</h1>
    <div class="card">
        <div class="card-body">
            {% include 'admin/admin_users/_form.html.twig' with {form: form, submit_label: 'Mettre à jour'} %}
        </div>
    </div>
{% endblock %}
